<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>My Pickup Calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-pickup-call-card [hasHeader]="false" [hasFooter]="false" 
  status="On hold" 
  updatedAt="22/02/2022" 
  createdAt="21/02/2022" 
  notes="We have two bags that are full one with plastic and the other with rubber.">
</app-pickup-call-card>
  <!--can exclude the booleans since null values return false.-->
  <!--Utilises the @Input in the pickup-call-card-component.ts-->
  
  <app-pickup-call-card   
  status="Processing" 
  updatedAt="23/02/2022" 
  createdAt="22/02/2022" 
  notes="We have two bags that are full one with plastic">
</app-pickup-call-card>
  
<app-pickup-call-card 
  status="Finished" 
  updatedAt="24/02/2022" 
  createdAt="23/02/2022" 
  notes="Finished product.">

</app-pickup-call-card>

</ion-content>
