<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start" >
      <ion-back-button text=""></ion-back-button>
    </ion-buttons> 
    <ion-title>Pickup Call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="/assets/images/map.png" alt="img">
<ion-card>
  <ion-card-content>
    <p>Fake Address:Street 11</p>
    <p>Compliment Apto 222</p>
    <p>neighbourhood</p>
    <p>City name</p>
  </ion-card-content>
</ion-card>
<ion-list>
  <ion-item lines="insert">
    <ion-label position="floating">Notes:</ion-label>
    <ion-textarea></ion-textarea>
  </ion-item>
</ion-list>
<ion-button size="full" color="success" style="margin:15px" (click)="createPickupCall()">
  CREATE PICKUP CALL
</ion-button>
</ion-content>
